/*.ROOT_MX_MSG {}*/

/*.mx_message_ {}*/

.mx_message_ {
	margin-bottom: 10px;
}

.treeItemLabelClass, .treeItemInputClass {
    font-size: 14px;
    font-weight: 300;
}

/* fix for first label without treeItemBlockLabel class  */
div.ROOT_MX_MSG > div > div > label:nth-child(2) {
	font-weight: 600;
}

label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic;
	padding-left: 10px;
	font-size: 13px;
}

.treeItemSelectClass {
    padding: 5px 21px 5px 10px;
}

.treeItemRequiredLabel:after {
    color: #F44336;
    margin-left: 3px;
}

.error {
	border-color: red;
}

.treeItemDivClass {
	margin-left: 30px;
	padding-right: 10px;
}

input.treeItemDivClass {
	display: inline-block;
}

.treeItemToggleableDivClass {
	font-weight: 600px;
}

.treeItemLabelClass {
	white-space: nowrap;
	width: auto;
	display: inline-block;
	vertical-align: top;
	margin-top: 4px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.treeItemLabelClass i {
	font-size: 16px;
	margin-left: 6px;
}

.treeItemWidth {
	width: 300px;
}

.treeItemRemoveButton {
    width: 21px;
	height: 19px;
    cursor: pointer;
    font-size: 12px;
    color: #CB0000;
    background: none;
    border: 1px solid #CB0000;
    border-radius: 4px;
    vertical-align: baseline;
    margin-right: 12px;
    padding: 0;
}

.treeItemRemoveButton:hover {
	background: #CB0000;
	color: #fff;
}

.treeItemAddButton {
	display: block;
	font-weight: 100;
    background: #fff;
    color: #CB0000;
    padding: 10px 35px;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    margin: 10px 5px 10px 0;
    text-transform: capitalize;
}

.treeItemChoiceShowedChild {
	display: block;
}

.treeItemRequiredLabel:after {
	content: " *";
}

.treeItemBorder {
	border-left: 1px solid gray;
}

input.treeItemInputClass {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px 9px;
    font-size: 12px;
    height: 20px;
    margin: 2px 0;
    max-width: 100%;
}

input.treeItemInputClass[type=radio]  {
	vertical-align: middle;
	margin-right: 5px;
	width: auto !important;
}

font.treeItemInputClass {
	text-transform: capitalize;
	font-size: 13px;
	vertical-align: middle;
}

.treeItemChoiceSelect {
	padding: 5px 21px 5px 10px;
}

.treeNodeExpanded {
	width: 15px;
	height: 15px;
	background: url('img/mini_arrow_down.gif');
	display: inline-block;
	margin-right: 10px;
}

.treeNodeCollapsed {
	width: 15px;
	height: 15px;
	background: url('img/mini_arrow_right.gif');
	display: inline-block;
	margin-right: 10px;
}

.xdsoft_datetimepicker {
	border: 1px solid #000;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: none;
    margin-top: 5px;
}

.xdsoft_datetimepicker .xdsoft_calendar td, .xdsoft_datetimepicker .xdsoft_calendar th {
	background: #fff;
	border: none;
}

.xdsoft_datetimepicker .xdsoft_calendar th {
	background: #fff;
	color: #000;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
	background: #fff;
	box-shadow: none;
	color: #000;
	font-weight: 700;
	border: 1px solid #aaaaaa;
	border-radius: 4px;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div {
	background: #fff;
	border: none;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box {
	border: none;
	padding: 5px 0;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
	background: none !important;
	color: #000 !important;
}

.xdsoft_datetimepicker .xdsoft_label {
	font-weight: normal;
}

.fake_accordion_main_title {
	width: 95%;
	font-size: 16px;
	font-weight: normal;
	cursor: pointer;
	border-bottom: 1px solid #6e7982;
	padding: 8px 15px 8px 0;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.fake_accordion_main_title .treeNodeExpanded, .fake_accordion_main_title .treeNodeCollapsed {
	float: right;
}

.fake_accordion_main_title .treeNodeCollapsed {
	background: url('img/down_arrow.png');
	width: 16px;
	height: 8px;
	margin: 8px 0 0 0;
}

 .fake_accordion_main_title .treeNodeExpanded {
	background: none;
 }

 .firstNode {
    background: #F2F2F2 !important;
    width: 93% !important;
    padding: 10px 10px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 15px;
    color: #440101;
}

.treeItemBlockLabel {
	font-weight: 600;	
}

/* add style like FirstNode to first element on Document container  */
div.DocumentContainer > div > label:nth-child(2) {
    background: #F2F2F2 !important;
    width: 93% !important;
    padding: 10px 10px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 15px;
    color: #440101;
}

.treeLabelThree:not(:last-child) {
	border-bottom: 1px #ccc dashed;
}

.treeItemDateTimePicker {
	background: url("img/ic_date_range_black_24dp_1x.png") no-repeat;
	background-position: right top;
}

.readOnlyContent {
	font-size: 14px;
	vertical-align: middle;
	display: inline-block;
	margin-top: 2px;
}